/*

how to use css to change colours of certain attributes (attrb) 

p (the html attrb) {

    color: red;  (you can use any color, rgb, hex.. etc as long as it is in that format)

    https://colors-picker.com/hex-color-picker/
    https://rgbcolorcode.com

    websites for rgb and hex colour pickers

*/
